.student_learn_section, .class_requirement_section, .target_students_section, .book_objective_section {
    display: flex;
  }

.students_learn_input, .class_requirement_input, .target_students_input, .books_objective_input {
    flex-grow: 1;
}

.hidden {
    display: none;
}

.seen {
    display: block;
}

.delete_student_learn, .delete_class_requirement, .delete_target_students, .delete_book_objective {
    color: white;
    background-color: rgb(231, 76, 60);
    text-align: center;
    margin-left: 10px;
    margin-top: 1px;
    font-weight: 700;
    border-radius:5px;
    height: 30px;
    min-width: 30px;
    cursor: pointer;
}
