.card-custom {
    border: 1px $color-gray solid;
    border-radius: 8px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.text-set {
    white-space: nowrap;
    overflow: hidden;
}

.custom-badge {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: inline-table;
}

#cartCount {
    font-size: 14px;
    background: $red;
    color: $color-white;
    padding: 0 8px;
    vertical-align: top;
    margin-left: -10px;
}

.custom-badge__content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
