.btn-upload {
    padding: 10px 10px 0px 20px;
    height: 35px
}

.content-entry, .resource-entry {
    display: flex;
}

.resource_attachment_input, .content_file_input {
    flex-grow: 1;
}

.subject-icon.fa  {
    padding: 0px;
    margin: 0px;
}

.subject-avail-icon.fa  {
    padding: 0px;
    margin: 0px;
    width: 0px;
}

.content-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    background-color: $color-gray-3;
}

.diff-content-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    background-color: $color-white;
}

.diff-content-card:hover, .content-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0 ,0, 0, 0.2);
}

.description {
    margin: 20px 0px 0px 30px;
}
