.side-font {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.sub-text {
    font-size: 20px;
}

.title-font {
    color: $color-gray-4;
}

.author-font {
    color: $color-gray-4;
    font-size: 15px;
}

.donate-font {
    color: $color-gray-4;
    font-size: 20px;
}

.revenue-font {
    color: $color-body;
    font-size: 18px;
}

.title-font:hover, .author-font:hover {
    color: $color-black;
}

.rating {
    color: $orange;
}

.rating:hover {
    color: $orange-2;
}

.teacher-icon {
    color: #3B544E;
}

.student-head-font {
    color: $color-gray-3;
}

.student-font {
    color: $color-gray-2;
}

.student-font_color {
    color: #8299b8;
}

.learn-today_title {
    font-weight: 600 !important;
}
