.side-font {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.sub-text {
    font-size: 20px;
}

.title-font {
    color: $color-gray-4;
}

.author-font {
    color: $color-gray-4;
}

.title-font:hover, .author-font:hover {
    color: $color-body;
}

.rating {
    color: $color-dark-1;
}

.rating:hover {
    color: #4F7A7D;
}

.teacher-icon {
    color: #3B544E;
}

.student-head-font {
    color: $color-gray-3;
}

.student-font {
    color: $color-gray-2;
}

.learn-today_title {
    font-weight: 600 !important;
}
