.list-unstyled a {
    color: $color-body;
    white-space: nowrap;
    overflow:hidden;
    @include transition(color .3s linear);

    &:hover {
        color:$color-white;
        text-decoration: none;
    }
}

.wraps-text {
    white-space: nowrap;
}

.footer-text {
    color: $color-body;
    @include transition(color .3s linear);

    &:hover {
        color: $color-white;
        text-decoration: none;
    }
}
