.background-style {
    padding-top: 50px;
    padding-bottom: 5px;
}

.bg-image {
    width: 100%;
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(~/images/st_2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}
