.top-search input[type="text"] {
  width: 350px;
  display: block;
}

@include lg-screens {
    .top-search input[type="text"] {
      width: 200px;
    }
}

@include md-screens {
    .top-search  {
        visibility: hidden !important;
    }

    .top-search input[type="text"] {
      width: 5px;
      display: block;
    }
}

@include sm-screens {
    .top-search input[type="text"] {
      width: 495px;
    }
}
