// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Colors
$color-theme: #0af;
$color-white: #ffffff;
$color-black: #000000;
$color-heading: #010c1f;
$color-dark: #282828;
$color-gray: #f0f0f0;
$color-gray-2: #d6d6d6;
$color-gray-3: #e6e6e6;
$color-body: #9b9b9b;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
