.increased-font {
    font-size: 17px;
}

.admin-shadow {
    position: relative;
    background-color: #fff;
    border-radius: 10px !important;
}

.material-icons_custom {
   vertical-align: top;
}
