.increased-font {
    font-size: 20px;
}

.admin-shadow {
    position: relative;
    background-color: #fff;
    border-radius: 10px !important;
}

.material-icons_custom {
   vertical-align: top;
}

.book_objective_section,
.note_objective_section,
.pastpaper_objective_section,
.survey_answer_section {
    display: flex;
}

.books_objective_input,
.notes_objective_input,
.pastpapers_objective_input,
.survey_answer_input {
    flex-grow: 1;
}

.hidden {
    display: none;
}

.seen {
    display: block;
}

.btn_books_objective,
.btn_notes_objective,
.btn_pastpapers_objective,
.btn_survey_answer {
    cursor: pointer;
}

.delete_book_objective,
.delete_note_objective,
.delete_pastpaper_objective,
.delete_survey_answer  {
    color: white;
    background-color: rgb(231, 76, 60);
    text-align: center;
    margin-left: 10px;
    padding-top: 6px;
    font-weight: 700;
    border-radius:5px;
    height: 30px;
    min-width: 30px;
    cursor: pointer;
}

.label-text {
    font-size: 15px;
    font-weight: bold;
}
