.top-card {
    background-color: $color-gray;
    padding-top: 8px;
    padding-bottom: 1px;
    border-radius: 8px;
}

.top-card.make-it-slow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.make-it-slow:hover {
  box-shadow: 0 7px 17px rgba(0, 0, 0, 0.3);
}

div > .teacher-image {
    border-radius: 8px;
    max-width: 100%;
    margin-right: 50px;
    position: absolute;
    top: -73px;
    height: 360px;
    width: 85%;
}

div > .student-image {
    position: absolute;
    border-radius: 8px;
    max-width: 100%;
    right: 0;
    top: -78px;
    height: 360px;
    width: 85%;
}

/* Style the container with a rounded border, grey background and some padding and margin */
.top_teacher {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 5px;
    padding-left: 20px;
    margin: 5px 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    background-color: $color-gray-2;
}

.top_teacher:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.top_teacher::after {
  content: "";
  clear: both;
}

/* Float images inside the top_teacher to the left. Add a right margin, and style the image as a circle */
.teacher-avatar {
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    width: 60px;
    height: 60px;
}

.love-circle:hover {
    fill: #e3342f;
}

@include sslg-screens {
    div > .teacher-image,
    div > .student-image {
        position: unset;
        left: unset;
        top: unset;
        height: unset;
        width: unset;
    }
}

@include md-screens {
    .top_teacher {
        justify-content: unset;
        margin-bottom: 20px;
    }
    .teacher-avatar {
        margin-right: 20px;
    }
}

@include sm-screens  {
    div > .teacher-image,
    div > .student-image,
    .student-text {
        margin-bottom: 25px;
    }
}
